<h2>몰입캠프 대나무숲</h2>
<ul class="search-form">
    <li>    
        <form id="search-site"  action='/stories/search/:query' method='get'>
            <div class="input-group">
                    <i class="fas fa-search fa-large" ></i>
                    <div class="input-field">
                    <input id="search" type="search" name='query' placeholder="찾으려는 게시물의 제목을 입력하시오.">
                    <label class="label-icon" for="search">
                    </label>
                 </div>
                <button type="submit" class="input-group-addon btn red darken-1">search</button>
            </div>
        </form>  
    </li>   
</ul>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                {{!--
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
                --}}
            
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn grey">자세히 보기</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>현재 등록된 게시물이 없습니다.</p>
    {{/each}}
</div>